header{
    background: rgba(252, 252, 252, 0.712);
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%;
}
.inline-block{
    display: inline-block;
    vertical-align: top;
    text-align: right;
    
}
.inline-block .logo{
    display: flex;
    
}
.logo{
    width: 30%;
    padding: 1%;
    display: inline-block;
}

nav{
    width: 70%;
    padding: 1%;
  
}
ul{
    margin-left:auto;
    display: inline-block;
}
li{
    display: inline-block;
    padding: 30px;
    font-size: 20px;
}
.icon{
    display: none;
}

.logo{
    height: 110px;
    text-align: center;
    float: left;
    display: flex;
    flex-direction: row;
    
}
.logo img{
    width: 90px;
    height: 90px;
    align-items: center;
}
.logo p{
    color: royalblue;
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
    margin-top: 15px;
}
.section17{
    width: 80%;
    margin: 0 auto; 
    font-family: Arial;
    display: flex;
    margin-bottom: 60px;
    margin-top: 140px;
}
.description{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
}
.me{
    display: flex;
    align-self: center;
    width:100%;
}
.me img{
    max-width: 60%;
}
h1{
    padding: 20px 0 20px 0;
    font-size: 50px;
}
.description p{
    margin-top: 30px;
    font-size: 20px;
}
.button17{
    margin-top: 30px;
    width: fit-content;
}
footer{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
footer p{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}
.links{
    display: flex;
    justify-content: center;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
a{
    padding: 40px;
}
.LI{
    color: rgb(0,119,181);
}
.IG{
    color: rgb(243, 72, 206);
}
.WC{
    color: rgb(6, 179, 89);
}
.EM{
    color: rgb(223,87,75);
}
a{
    text-decoration: none;
}
.footerButtom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.B_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    align-items: flex-end;
}
.B_links a{
    padding: 1px !important; 
    font-size: 16px !important;
    margin-right: 40px;
    
}
#job{
    font-size: 25px;
    font-weight: 700;
    margin: 30px;
    width: 33%;
}
#gmail{
    font-size: 25px;
    font-weight: 700;
    margin: 30px;
    width: 33%;
    text-align: center;
}


@media only screen and (max-width: 600px){
 
    .logo{
        padding: 0;
    }
    .logo p{
        margin-top: 15px;
    }
    nav{
        width: 69%; 
    }
    .section17{
        width: 90%;
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        
    }
    .icon{
        display: block;

    }
    .me img{
        width: 80%;
       position: relative;
       left: 10%;
    }
}