.navbar {
    margin: 0px;
}
h3{
    padding-top: 50px;
    padding-bottom: 25px;
}
h4{
    padding: 25px 0 0 0;
}
.jumbotron{
    background-image: url(../images/NewAbbey.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    display: flex;
    justify-content: center;
    padding: 40px 32px !important;
}
.jumboCopy{
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: black;
    text-align: center;
}
.jumboCopy a{
    background-color: #9746B5;
    border-color: #9746B5;
}
.textContent{    
    letter-spacing: 0.035em;
    width: 70%;
    margin: 0 auto;
}
.Flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}
.leftFlexbox{
    width: 45%;
    padding: 0;
    margin-right: 10px;
    /*background-color: darkgrey;*/
}
.rightFlexbox{
    width: 45%;
    padding: 0;
    margin-left: 10px;
    /*background-color: lightblue;*/
    
}
.boxSpace{
    padding: 20px 0;
}
.projectOverview h2{
    padding-top: 30px;
    color: rgb(160, 141, 167);
}
.displayImages{
    display: flex;
    align-items: center;
}
#HPredesign{
    width: 100%;
    margin-top: 40px;
}
.userFeedback h4{
    padding-top: 30px;
}
.UPersona{
    display: flex;
    justify-content: center;
}
.features{
    margin: auto 0;
}
.LGPB img{
    margin-top: 30px;
}

.MIcontainer{
    margin: 0 !important;
}
.MI{
    margin: auto 0;
}
.application{
    padding: 60px 0 25px 0;
}
.iterationh4 h4{
    padding-bottom: 25px;
}
.iphone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.macbook{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.endSummary{
    padding-top: 30px;
}